*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.8s;
}
body{
    background: #bbbfc2;
}
.container{
    width: 980px;
    min-height: 724px;
    margin: 0 auto 30px;
    position: relative;
    background: #fff;
}
.container::before{
    content: "";
    width: 980px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15px;
    padding:0 15px 30px;
    z-index: -1;
    background: url(../images/shadow_left.jpg) no-repeat top left,
                url(../images/shadow_right.jpg) no-repeat top right,
                url(../images/shadow_bottom.jpg) no-repeat bottom center;
}
/* header */

header{
    position: relative;
    margin-bottom: 60px;
}
.header-text{
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    width: 500px;
    padding-top: 50px;
    padding-right: 70px;
    text-align: right;
}
.header-text div{
    font-family: "Open Sans";
	font-size: 32px;
	font-weight: lighter;
    line-height: 15px;
    padding-bottom: 15px;
}
.header-text h1{
    font-family: "Open Sans";
	font-size: 50px;
	font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
}

/* main section */
#main{
    background: #fff;
    width: 980px;
    display: flex;
    flex-flow: row-reverse nowrap;
}
aside{
    width: 300px;
    height: 100%;
    background: linear-gradient(to right,#ebeced 285px, #d1d5d6 300px);
    position: relative;
    border-top: 3px solid #ebeced;
}

.box{
    width: 540px;
    margin:0 70px;
}
.step-container{
    height: 250px;
    overflow: hidden;
}
.step-element{
    height: 250px;
    position: absolute;
    opacity:0;
    /* visibility: visible; */
}
.display{
    opacity:1;
}
#friend-info{
    margin-top: 40px;
    font-family: Helvetica;
    font-size: 13px;
    color:#65686f;
}
#friend-info a, #friend-info a:visited{
    color:#6fbee7;
    text-decoration: none;
    font-weight: Regular;
}
.step-element-img{
    height: 65px;
    background-image: url(../images/headings/headings.png);
    background-repeat: no-repeat;
}
.step-element-body{
    margin-top: 24px;
    font-family: Helvetica;
    font-size: 13px;
    line-height: 18px;
    color: #65686f;
    font-weight: Regular;
}
aside a{
    display: block;
    border-bottom: 2px solid white;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    color:#9ba0a4;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 1;
}
#background{
    height: 60px;
    width: 100%;
    background: white;
    z-index: 0;
    position: absolute;
    top: 0;
}
.active{
    font-weight: bold;
    color:#36abe1;
    /* background: url(../images/icons/individual/icons_small_bs1_blue.png) right no-repeat; */
}